$blue: #29B6F6
$dark: #263238
$red: #e57373
$green: #81C784
$yellow: #FFF176

@font-face
  font-family: 'HelveticaNeue-Thin'
  src: url('../../public/fonts/HelveticaNeue-Thin.otf')

@import url('https://fonts.googleapis.com/css?family=Audiowide')

.home
  margin-top: 83px
  .container
    width: calc(100vw - 40px)
    height: 95vh
    padding: 20px
    h1
      font-family: 'Audiowide', cursive
      font-size: 42px
    p
      font-family: 'HelveticaNeue-Thin', 'Roboto', sans-serif
      font-size: 21px
      font-weight: 400
      line-height: 1.5
      letter-spacing: 0.006rem

  .hero
    background-color: $blue
    background-image: url('../../public/imgs/teslamodels.jpg')
    background-size: cover
    background-position: 50% 80%
    color: #fff
    .hero-content
      width: 45%
      background-color: rgba(0,0,0,0.5)
      padding: 15px
    .title
      display: block
      max-width: 508px
      border-top: 2px solid white
  .interests
    color: #fff
    background-color: $dark
  .skills
    background-color: $red
  .experience
    background-color: $green
  .projects
    background-color: $yellow
