@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro')

.footer
  width: 100vw
  height: 107px
  background-color: #222222
  a
    text-decoration: none
    color:transparent
  p
    display: inline-block
    float: left
    font-family: 'HelveticaNeue-Thin', cursive
    font-size: 18px
    color: #fff
    padding: 40px
    width: 20%
  .contact-email
    display: inline-block
    font-family: 'Source Code Pro', monospace
    width: 66%
    float: right
    .arrow-arg
      color: #fd971f
      font-style: italic
    .method
      color: #a6e22e
    .string
      color: #e6db74
